[user]
	name = dzxxhwjl
	email = dzx2552@163.com

[alias]
  graph = log --all --graph --decorate --oneline
  r = remote
  c = commit 
  a = add
  ps = push
  pl = pull
  logl = log --all --oneline
  cae = commit --allow-empty
  ck = checkout
  b = branch
  s = status

